* {
	font-family: "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
}
html {
	line-height: 1.4;
	@include prefix(transition, 0.5s ease);
}
body {
	color: #666;
}
/* Tablet vertical */		
@media only screen and (max-width : 770px) {
	html {
		font-size: 1.1rem;
	}
}

/* Smartphone vertical */		
@media only screen and (max-width : 500px) {
	html {
		font-size: 1.2rem;
	}
}
.container {
	padding: 10px;
}

input[type="text"],
textarea {
	padding: 8px;
	background: #fff;
}